.center {
  margin: auto;
  width: 50%;
  padding: 10px;
  }

  .middlediv {
      padding: 300px 0;
      text-align: center;
    }

.bottomcenter
  {
      position: fixed;
      left: 50%;
      bottom: 0px;
      transform: translate(-50%, -50%);
      margin: 0 auto;
  }

  body{
      background-size: cover;
      font-family: 'Trebuchet MS', sans-serif; 
    }
    .container{
      display: inline-block;
    }
    .typed-out{
      overflow: hidden;
      border-right: .15em solid white;
      white-space: nowrap;
      animation: 
        typing 1s steps(20, end) forwards,
        blinking 1.2s infinite;
      font-size: 1.6rem;
      width: 0;
    }
    @keyframes typing {
      from { width: 0 }
      to { width: 100% }
    }
    @keyframes blinking {
      from { border-color: transparent }
      to { border-color: white; }
    }
    
    .button-27 {
      appearance: none;
      background-color: #000000;
      border: 2px solid #1A1A1A;
      border-radius: 15px;
      box-sizing: border-box;
      color: #FFFFFF;
      cursor: pointer;
      display: inline-block;
      font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
      font-size: 16px;
      font-weight: 600;
      line-height: normal;
      margin: 0;
      min-height: 60px;
      min-width: 0;
      outline: none;
      padding: 16px 24px;
      text-align: center;
      text-decoration: none;
      transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      width: 100%;
      will-change: transform;
    }
    
    .button-27:disabled {
      pointer-events: none;
    }
    
    .button-27:hover {
      box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
      transform: translateY(-2px);
    }
    
    .button-27:active {
      box-shadow: none;
      transform: translateY(0);
    }
    
  .topcorner{
    position:absolute;
    top:10px;
    right: 5px;
 }

 .switch {
  --line: #E8EBFB;
  --dot: #275EFE;
  --circle: #D3D4EC;
  --background: #fff;
  --duration: .3s;
  --text: #9EA0BE;
  --shadow: 0 1px 3px rgba(0, 9, 61, 0.08);
  cursor: pointer;
  position: relative;
}
.switch:before {
  content: "";
  width: 60px;
  height: 32px;
  border-radius: 16px;
  background: var(--background);
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: var(--shadow);
}
.switch input {
  display: none;
}
.switch input + div {
  position: relative;
}
.switch input + div:before, .switch input + div:after {
  --s: 1;
  content: "";
  position: absolute;
  height: 4px;
  top: 14px;
  width: 24px;
  background: var(--line);
  transform: scaleX(var(--s));
  transition: transform var(--duration) ease;
}
.switch input + div:before {
  --s: 0;
  left: 4px;
  transform-origin: 0 50%;
  border-radius: 2px 0 0 2px;
}
.switch input + div:after {
  left: 32px;
  transform-origin: 100% 50%;
  border-radius: 0 2px 2px 0;
}
.switch input + div span {
  padding-left: 60px;
  line-height: 28px;
  color: var(--text);
}
.switch input + div span:before {
  --x: 0;
  --b: var(--circle);
  --s: 4px;
  content: "";
  position: absolute;
  left: 4px;
  top: 4px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 var(--s) var(--b);
  transform: translateX(var(--x));
  transition: box-shadow var(--duration) ease, transform var(--duration) ease;
}
.switch input + div span:not(:empty) {
  padding-left: 68px;
}
.switch input:checked + div:before {
  --s: 1;
}
.switch input:checked + div:after {
  --s: 0;
}
.switch input:checked + div span:before {
  --x: 28px;
  --s: 12px;
  --b: var(--dot);
}
body {
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}