  .card {
    height: 100vh;
    text-align: center;
    display: grid;
    align-items: center;
  }
  .infoholder {
    margin: auto;
    position: relative;
    width: 35%;
  }
  .socialmedia {
    width: 2.0em;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
  }
  .images {
    display: inline-block;
    vertical-align: middle;
  }
  .title {
    align-items: center;
  }
  .externalurl {
    width: 2.0em;
  }